<!DOCTYPE html>

<html lang="zxx">
<head>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="Awaiken">
    <!-- Page Title -->
    <title>MediPro - Hospital HTML Template</title>
    <!-- Favicon Icon -->
    <link rel="shortcut icon" type="image/x-icon" href="images/favicon.png">
    <!-- Google Fonts css-->
    <link rel="preconnect" href="https://fonts.googleapis.com/">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&amp;display=swap" rel="stylesheet">
    <!-- Bootstrap Css -->
    <link href="/Client/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <!-- SlickNav Css -->
    <link href="/Client/css/slicknav.min.css" rel="stylesheet">
    <!-- Swiper Css -->
    <link rel="stylesheet" href="/Client/css/swiper-bundle.min.css">
    <!-- Font Awesome Icon Css-->
    <link href="/Client/css/all.css" rel="stylesheet" media="screen">
    <!-- Animated Css -->
    <link href="/Client/css/animate.css" rel="stylesheet">
    <!-- Magnific Popup core CSS file -->
    <link rel="stylesheet" href="/Client/css/magnific-popup.css">
    <!-- Main custom Css -->
    <link href="/Client/css/custom.css" rel="stylesheet" media="screen">
</head>
<body>
    <header class="main-header" style="height: 104px;">
        <div class="header-sticky">
            <nav class="navbar navbar-expand-lg">
                <div class="container">
                    <!-- Logo Start -->
                    <div class="header-logo">
                        <a class="navbar-brand" href="index.html">
                            <img src="images/logo.svg" alt="">
                        </a>
                    </div>
                    <!-- Logo End -->
                    <!-- Main Menu Start -->
                    <div class="collapse navbar-collapse main-menu">
                        <div class="nav-menu-wrapper">
                            <ul class="navbar-nav mr-auto" id="menu">
                                <li class="nav-item"><a class="nav-link" href="index.html">Home</a></li>
                                <li class="nav-item"><a class="nav-link" href="about.html">About Us</a></li>
                                <li class="nav-item"><a class="nav-link" href="services.html">Services</a></li>
                                <li class="nav-item submenu">
                                    <a class="nav-link" href="#">Pages</a>
                                    <ul>
                                        <li class="nav-item"><a class="nav-link" href="services-single.html">Service Single</a></li>
                                        <li class="nav-item"><a class="nav-link" href="blog.html">Blog</a></li>
                                        <li class="nav-item"><a class="nav-link" href="blog-single.html">Blog Single</a></li>
                                        <li class="nav-item"><a class="nav-link" href="team.html">Our Team</a></li>
                                        <li class="nav-item"><a class="nav-link" href="team-single.html">Team details</a></li>
                                        <li class="nav-item"><a class="nav-link" href="faqs.html">FAQs</a></li>
                                        <li class="nav-item"><a class="nav-link" href="404.html">404</a></li>
                                    </ul>
                                </li>
                                <li class="nav-item"><a class="nav-link" href="contact.html">Contact Us</a></li>
                                <li class="nav-item submenu">
                                    <a class="nav-link" href="#">Career</a>
                                    <ul>
                                        <li class="nav-item"><a class="nav-link" href="services-single.html">Doctor</a></li>
                                        <li class="nav-item"><a class="nav-link" href="blog.html">Nurse</a></li>

                                    </ul>
                                </li>
                                <li class="nav-item highlighted-menu"><a class="nav-link" href="appointment.html">Book Appointment <i class="fa-solid fa-calendar-days"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- Main Menu End -->
                    <div class="navbar-toggle"><a href="#" aria-haspopup="true" role="button" tabindex="0" class="slicknav_btn slicknav_collapsed" style="outline: none;"><span class="slicknav_menutxt"></span><span class="slicknav_icon slicknav_no-text"><span class="slicknav_icon-bar"></span><span class="slicknav_icon-bar"></span><span class="slicknav_icon-bar"></span></span></a></div>
                </div>
            </nav>
            <div class="responsive-menu">
                <div class="slicknav_menu">
                    <ul class="slicknav_nav slicknav_hidden" style="display: none;" aria-hidden="true" role="menu">
                        <li class="nav-item"><a class="nav-link" href="index.html" role="menuitem" tabindex="-1">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="about.html" role="menuitem" tabindex="-1">About Us</a></li>
                        <li class="nav-item"><a class="nav-link" href="services.html" role="menuitem" tabindex="-1">Services</a></li>
                        <li class="nav-item submenu slicknav_collapsed slicknav_parent">
                            <a href="#" role="menuitem" aria-haspopup="true" tabindex="-1" class="slicknav_item slicknav_row" style="outline: none;">
                                <a class="nav-link" href="#" tabindex="-1">Pages</a>
                                <span class="slicknav_arrow">►</span>
                            </a><ul role="menu" class="slicknav_hidden" style="display: none;" aria-hidden="true">
                                <li class="nav-item"><a class="nav-link" href="services-single.html" role="menuitem" tabindex="-1">Service Single</a></li>
                                <li class="nav-item"><a class="nav-link" href="blog.html" role="menuitem" tabindex="-1">Blog</a></li>
                                <li class="nav-item"><a class="nav-link" href="blog-single.html" role="menuitem" tabindex="-1">Blog Single</a></li>
                                <li class="nav-item"><a class="nav-link" href="team.html" role="menuitem" tabindex="-1">Our Team</a></li>
                                <li class="nav-item"><a class="nav-link" href="team-single.html" role="menuitem" tabindex="-1">Team details</a></li>
                                <li class="nav-item"><a class="nav-link" href="faqs.html" role="menuitem" tabindex="-1">FAQs</a></li>
                                <li class="nav-item"><a class="nav-link" href="404.html" role="menuitem" tabindex="-1">404</a></li>
                            </ul>
                        </li>
                        <li class="nav-item"><a class="nav-link" href="contact.html" role="menuitem" tabindex="-1">Contact Us</a></li>
                        <li class="nav-item highlighted-menu"><a class="nav-link" href="appointment.html" role="menuitem" tabindex="-1">Book Appointment <i class="fa-solid fa-calendar-days"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>



    <div>
        @RenderBody()
    </div>


    <footer>
        <!-- Main Footer Start -->
        <div class="main-footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-12">
                        <!-- About Footer Start -->
                        <div class="about-footer">
                            <!-- Footer Logo Start -->
                            <div class="footer-logo">
                                <figure>
                                    <img src="images/footer-logo.svg" alt="">
                                </figure>
                            </div>
                            <!-- Footer Logo End -->
                            <!-- Footer Content Start -->
                            <div class="footer-content">
                                <p>Our family-centered approach to healthcare ensures that each member of your family receives personalized attention.</p>
                            </div>
                            <!-- Footer Content End -->
                            <!-- Footer Social Links Start -->
                            <div class="footer-social-links">
                                <ul>
                                    <li><a href="#"><i class="fa-brands fa-linkedin-in"></i></a></li>
                                    <li><a href="#"><i class="fa-brands fa-youtube"></i></a></li>
                                    <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                                    <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
                                </ul>
                            </div>
                            <!-- Footer Social Links End -->
                        </div>
                        <!-- About Footer End -->
                    </div>

                    <div class="col-lg-2 col-md-3 col-5">
                        <!-- Footer Quick Links Start -->
                        <div class="footer-quick-links">
                            <h2>quick links</h2>
                            <ul>
                                <li><a href="#">home</a></li>
                                <li><a href="#">about us</a></li>
                                <li><a href="#">doctors</a></li>
                                <li><a href="#">services</a></li>
                                <li><a href="#">contact us</a></li>
                            </ul>
                        </div>
                        <!-- Footer Quick Links End -->
                    </div>

                    <div class="col-lg-3 col-md-4 col-7">
                        <!-- Footer Contact Details Start -->
                        <div class="footer-contact-details">
                            <h2>contact details</h2>
                            <!-- Footer Contact Info Box Start -->
                            <div class="footer-contact-box">
                                <!-- Info Box Start -->
                                <div class="footer-info-box">
                                    <!-- Icon Box Start -->
                                    <div class="icon-box">
                                        <i class="fa-solid fa-location-dot"></i>
                                    </div>
                                    <!-- Icon Box End -->
                                    <p>Jl. Raya Kuta No.70, Kuta</p>
                                </div>
                                <!-- Info Box End -->
                                <!-- Info Box Start -->
                                <div class="footer-info-box">
                                    <!-- Icon Box Start -->
                                    <div class="icon-box">
                                        <i class="fa-solid fa-envelope-open-text"></i>
                                    </div>
                                    <!-- Icon Box End -->
                                    <p>healthcare@gmail.com</p>
                                </div>
                                <!-- Info Box End -->
                                <!-- Info Box Start -->
                                <div class="footer-info-box">
                                    <!-- Icon Box Start -->
                                    <div class="icon-box">
                                        <i class="fa-solid fa-phone"></i>
                                    </div>
                                    <!-- Icon Box End -->
                                    <p>+01 547 547 5478</p>
                                </div>
                                <!-- Info Box End -->
                                <!-- Info Box Start -->
                                <div class="footer-info-box">
                                    <!-- Icon Box Start -->
                                    <div class="icon-box">
                                        <i class="fa-solid fa-clock"></i>
                                    </div>
                                    <!-- Icon Box End -->
                                    <p>8 AM - 5 PM , Monday - Saturday</p>
                                </div>
                                <!-- Info Box End -->
                            </div>
                            <!-- Footer Contact Info Box End -->
                        </div>
                        <!-- Footer Contact Details End -->
                    </div>

                    <div class="col-lg-3 col-md-5">
                        <!-- Footer Newsletter Start -->
                        <div class="footer-newsletter">
                            <h2>newsletter</h2>
                            <div class="subscribe-content">
                                <h3>subscribe to our newsletter</h3>
                                <p>Stay informed and never miss out on the latest news, health tips.</p>
                            </div>
                            <div class="footer-newsletter-form">
                                <form id="newslettersForm" action="#" method="POST">
                                    <div class="form-group">
                                        <input type="email" name="email" class="form-control" id="mail" placeholder="Enter Your Email" required="">
                                        <button type="submit" class="btn-default">send </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <!-- Footer Newsletter End -->
                    </div>
                </div>

                <!-- Footer Copyright Section Start -->
                <div class="footer-copyright">
                    <div class="row">
                        <div class="col-lg-12">
                            <!-- Footer Copyright Start -->
                            <div class="footer-copyright-text">
                                <p>copyright 2024 © <span>MediPro</span> all right reserved.</p>
                            </div>
                            <!-- Footer Copyright End -->
                        </div>
                    </div>
                </div>
                <!-- Footer Copyright Section End -->
            </div>
        </div>
        <!-- Main Footer End -->
    </footer>



    <!--JQuery -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>


    <!-- Validation -->
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

    <!-- Jquery Library File -->
    <script src="/Clientjs/jquery-3.7.1.min.js"></script>
    <!-- Bootstrap js file -->
    <script src="/Clientjs/bootstrap.min.js"></script>
    <!-- Validator js file -->
    <script src="/Clientjs/validator.min.js"></script>
    <!-- SlickNav js file -->
    <script src="/Clientjs/jquery.slicknav.js"></script>
    <!-- Swiper js file -->
    <script src="/Clientjs/swiper-bundle.min.js"></script>
    <!-- Counter js file -->
    <script src="/Clientjs/jquery.waypoints.min.js"></script>
    <script src="/Clientjs/jquery.counterup.min.js"></script>
    <!-- Magnific js file -->
    <script src="/Clientjs/jquery.magnific-popup.min.js"></script>
    <!-- SmoothScroll -->
    <script src="/Clientjs/SmoothScroll.js"></script>
    <!-- Parallax js -->
    <script src="/Clientjs/parallaxie.js"></script>
    <!-- MagicCursor js file -->
    <script src="/Clientjs/gsap.min.js"></script>
    <script src="/Clientjs/magiccursor.js"></script>
    <!-- Text Effect js file -->
    <script src="/Clientjs/SplitText.js"></script>
    <script src="/Clientjs/ScrollTrigger.min.js"></script>
    <!-- Wow js file -->
    <script src="/Clientjs/wow.js"></script>
    <!-- Main Custom js file -->
    <script src="/Clientjs/function.js"></script>
    <script src="../../demo.awaikenthemes.com/assets/js/theme-panel.js"></script>
</body>
</html>
