<!DOCTYPE html>

<html>
<head>
    <!-- Title Meta -->
    <meta charset="utf-8" />
    <title>Dashboard | Darkone - Dark Admin & UI Kit Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Darkone: An advanced, fully responsive admin dashboard template packed with features to streamline your analytics and management needs." />
    <meta name="author" content="StackBros" />
    <meta name="keywords" content="Darkone, admin dashboard, responsive template, analytics, modern UI, management tools" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="robots" content="index, follow" />
    <meta name="theme-color" content="#ffffff">

    <!-- App favicon -->
    <link rel="shortcut icon" href="/Admin/assets/images/favicon.ico">

    <!-- Google Font Family link -->
    <link rel="preconnect" href="https://fonts.googleapis.com/">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Play:wght@400;700&amp;display=swap" rel="stylesheet">

    <!-- Vendor css -->
    <link href="/Admin/assets/css/vendor.min.css" rel="stylesheet" type="text/css" />


    <!-- Icons css -->
    <link href="/Admin/assets/css/icons.min.css" rel="stylesheet" type="text/css" />

    <!-- App css -->
    <link href="/Admin/assets/css/style.min.css" rel="stylesheet" type="text/css" />

    <!-- Theme Config js -->
    <script src="/Admin/assets/js/config.js"></script>
</head>
<body>
    <div class="app-wrapper">
        <header class="app-topbar">
            <div class="container-fluid">
                <div class="navbar-header">
                    <div class="d-flex align-items-center gap-2">
                        <!-- Menu Toggle Button -->
                        <div class="topbar-item">
                            <button type="button" class="button-toggle-menu topbar-button">
                                <iconify-icon icon="solar:hamburger-menu-outline" class="fs-24 align-middle"></iconify-icon>
                            </button>
                        </div>

                        <!-- App Search-->
                        <form class="app-search d-none d-md-block me-auto">
                            <div class="position-relative">
                                <input type="search" class="form-control" placeholder="admin,widgets..." autocomplete="off" value="">
                                <iconify-icon icon="solar:magnifer-outline" class="search-widget-icon"></iconify-icon>
                            </div>
                        </form>
                    </div>

                    <div class="d-flex align-items-center gap-2">
                        <!-- Theme Color (Light/Dark) -->
                        <div class="topbar-item">
                            <button type="button" class="topbar-button" id="light-dark-mode">
                                <iconify-icon icon="solar:moon-outline" class="fs-22 align-middle light-mode"></iconify-icon>
                                <iconify-icon icon="solar:sun-2-outline" class="fs-22 align-middle dark-mode"></iconify-icon>
                            </button>
                        </div>

                        <!-- Notification -->
                        <div class="dropdown topbar-item">
                            <button type="button" class="topbar-button position-relative" id="page-header-notifications-dropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <iconify-icon icon="solar:bell-bing-outline" class="fs-22 align-middle"></iconify-icon>
                                <span class="position-absolute topbar-badge fs-10 translate-middle badge bg-danger rounded-pill">5<span class="visually-hidden">unread messages</span></span>
                            </button>
                            <div class="dropdown-menu py-0 dropdown-lg dropdown-menu-end" aria-labelledby="page-header-notifications-dropdown">
                                <div class="p-2 border-bottom bg-light bg-opacity-50">
                                    <div class="row align-items-center">
                                        <div class="col">
                                            <h6 class="m-0 fs-16 fw-semibold"> Notifications (5)</h6>
                                        </div>
                                        <div class="col-auto">
                                            <a href="javascript: void(0);" class="text-dark text-decoration-underline">
                                                <small>Clear All</small>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div data-simplebar="init" style="max-height: 250px;">
                                    <div class="simplebar-wrapper" style="margin: 0px;">
                                        <div class="simplebar-height-auto-observer-wrapper"><div class="simplebar-height-auto-observer"></div></div><div class="simplebar-mask">
                                            <div class="simplebar-offset" style="right: 0px; bottom: 0px;">
                                                <div class="simplebar-content-wrapper" tabindex="0" role="region" aria-label="scrollable content" style="height: auto; overflow: hidden;">
                                                    <div class="simplebar-content" style="padding: 0px;">
                                                        <!-- Item -->
                                                        <a href="javascript:void(0);" class="dropdown-item p-2 border-bottom text-wrap">
                                                            <div class="d-flex">
                                                                <div class="flex-shrink-0">
                                                                    <img src="/Admin/assets/images/users/avatar-1.jpg" class="img-fluid me-2 avatar-sm rounded-circle" alt="avatar-1">
                                                                </div>
                                                                <div class="flex-grow-1">
                                                                    <p class="mb-0">
                                                                        <span class="fw-medium">Sally Bieber </span>started
                                                                        following you. Check out their profile!"
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </a>
                                                        <!-- Item -->
                                                        <a href="javascript:void(0);" class="dropdown-item p-2 border-bottom">
                                                            <div class="d-flex">
                                                                <div class="flex-shrink-0">
                                                                    <div class="avatar-sm me-2">
                                                                        <span class="avatar-title text-bg-info fw-semibold fs-20 rounded-circle">
                                                                            G
                                                                        </span>
                                                                    </div>
                                                                </div>
                                                                <div class="flex-grow-1">
                                                                    <p class="mb-0 fw-medium">Gloria Chambers</p>
                                                                    <p class="mb-0 text-wrap">
                                                                        mentioned you in a comment: 'admin, check this out!
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </a>
                                                        <!-- Item -->
                                                        <a href="javascript:void(0);" class="dropdown-item p-2 border-bottom">
                                                            <div class="d-flex">
                                                                <div class="flex-shrink-0">
                                                                    <img src="assets/images/users/avatar-3.jpg" class="img-fluid me-2 avatar-sm rounded-circle" alt="avatar-3">
                                                                </div>
                                                                <div class="flex-grow-1">
                                                                    <p class="mb-0 fw-medium">Jacob Gines</p>
                                                                    <p class="mb-0 text-wrap">
                                                                        Answered to your comment on the cash flow forecast's graph 🔔.
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </a>
                                                        <!-- Item -->
                                                        <a href="javascript:void(0);" class="dropdown-item p-2 border-bottom">
                                                            <div class="d-flex">
                                                                <div class="flex-shrink-0">
                                                                    <div class="avatar-sm me-2">
                                                                        <span class="avatar-title bg-soft-warning text-warning fs-20 rounded-circle">
                                                                            <iconify-icon icon="solar:leaf-outline"></iconify-icon>
                                                                        </span>
                                                                    </div>
                                                                </div>
                                                                <div class="flex-grow-1">
                                                                    <p class="mb-0 fw-medium text-wrap">
                                                                        A new system update is available.
                                                                        Update now for the latest features.
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </a>
                                                        <!-- Item -->
                                                        <a href="javascript:void(0);" class="dropdown-item p-2 border-bottom">
                                                            <div class="d-flex">
                                                                <div class="flex-shrink-0">
                                                                    <img src="assets/images/users/avatar-5.jpg" class="img-fluid me-2 avatar-sm rounded-circle" alt="avatar-5">
                                                                </div>
                                                                <div class="flex-grow-1">
                                                                    <p class="mb-0 fw-medium">Shawn Bunch</p>
                                                                    <p class="mb-0 text-wrap">
                                                                        commented on your post: 'Great photo!
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div><div class="simplebar-placeholder" style="width: 0px; height: 0px;"></div>
                                    </div><div class="simplebar-track simplebar-horizontal" style="visibility: hidden;"><div class="simplebar-scrollbar" style="width: 0px; display: none;"></div></div><div class="simplebar-track simplebar-vertical" style="visibility: hidden;"><div class="simplebar-scrollbar" style="height: 0px; display: none;"></div></div>
                                </div>
                                <div class="text-center p-2">
                                    <a href="javascript:void(0);" class="btn btn-primary btn-sm">View All Notification <i class="bx bx-right-arrow-alt ms-1"></i></a>
                                </div>
                            </div>
                        </div>

                        <!-- User -->
                        <div class="dropdown topbar-item">
                            <a type="button" class="topbar-button" id="page-header-user-dropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="d-flex align-items-center">
                                    <img class="rounded-circle" width="32" src="/Admin/assets/images/users/avatar-1.jpg" alt="avatar-3">
                                </span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-end">
                                <!-- item-->
                                <h6 class="dropdown-header">Welcome!</h6>

                                <a class="dropdown-item" href="#">
                                    <iconify-icon icon="solar:user-outline" class="align-middle me-2 fs-18"></iconify-icon><span class="align-middle">
                                        My
                                        Account
                                    </span>
                                </a>

                                <a class="dropdown-item" href="#">
                                    <iconify-icon icon="solar:wallet-outline" class="align-middle me-2 fs-18"></iconify-icon><span class="align-middle">Pricing</span>
                                </a>
                                <a class="dropdown-item" href="#">
                                    <iconify-icon icon="solar:help-outline" class="align-middle me-2 fs-18"></iconify-icon><span class="align-middle">Help</span>
                                </a>
                                <a class="dropdown-item" href="auth-lock-screen.html">
                                    <iconify-icon icon="solar:lock-keyhole-outline" class="align-middle me-2 fs-18"></iconify-icon><span class="align-middle">
                                        Lock
                                        screen
                                    </span>
                                </a>

                                <div class="dropdown-divider my-1"></div>

                                <a class="dropdown-item text-danger" href="auth-signin.html">
                                    <iconify-icon icon="solar:logout-3-outline" class="align-middle me-2 fs-18"></iconify-icon><span class="align-middle">Logout</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div class="app-sidebar">
            <!-- Sidebar Logo -->
            <div class="logo-box">
                <a href="index.html" class="logo-dark">
                    <img src="/Admin/assets/images/logo-sm.png" class="logo-sm" alt="logo sm">
                    <img src="/Admin/assets/images/logo-dark.png" class="logo-lg" alt="logo dark">
                </a>

                <a href="index.html" class="logo-light">
                    <img src="/Admin/assets/images/logo-sm.png" class="logo-sm" alt="logo sm">
                    <img src="/Admin/assets/images/logo-light.png" class="logo-lg" alt="logo light">
                </a>
            </div>

            <div class="scrollbar" data-simplebar="init">
                <div class="simplebar-wrapper" style="margin: 0px;">
                    <div class="simplebar-height-auto-observer-wrapper"><div class="simplebar-height-auto-observer"></div></div><div class="simplebar-mask">
                        <div class="simplebar-offset" style="right: 0px; bottom: 0px;">
                            <div class="simplebar-content-wrapper" tabindex="0" role="region" aria-label="scrollable content" style="height: 100%; overflow: hidden scroll;">
                                <div class="simplebar-content" style="padding: 0px;">

                                    <ul class="navbar-nav" id="navbar-nav">

                                        @*<li class="menu-title">Menu...</li>*@

                                        <li class="nav-item active">
                                            <a class="nav-link active" href="index.html">
                                                <span class="nav-icon">
                                                    <iconify-icon icon="mingcute:home-3-line"></iconify-icon>
                                                </span>
                                                <span class="nav-text"> Dashboard </span>
                                                @*<span class="badge bg-primary badge-pill text-end">03</span>*@
                                            </a>
                                        </li>

                                        @*<li class="nav-item">
            <a class="nav-link menu-arrow" href="#sidebarAuthentication" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebarAuthentication">
                <span class="nav-icon">
                    <iconify-icon icon="mingcute:user-3-line"></iconify-icon>
                </span>
                <span class="nav-text"> Authentication </span>
            </a>
            <div class="collapse" id="sidebarAuthentication">
                <ul class="nav sub-navbar-nav">
                    <li class="sub-nav-item">
                        <a class="sub-nav-link" href="auth-signin.html">Sign In</a>
                    </li>
                    <li class="sub-nav-item">
                        <a class="sub-nav-link" href="auth-signup.html">Sign Up</a>
                    </li>
                    <li class="sub-nav-item">
                        <a class="sub-nav-link" href="auth-password.html">Reset Password</a>
                    </li>
                    <li class="sub-nav-item">
                        <a class="sub-nav-link" href="auth-lock-screen.html">Lock Screen</a>
                    </li>
                </ul>
            </div>
        </li>*@

                                        <li class="nav-item">
                                            <a class="nav-link menu-arrow" href="#sidebarError" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebarError">
                                                <span class="nav-icon">
                                                    <iconify-icon icon="mingcute:bug-line"></iconify-icon>
                                                </span>
                                                <span class="nav-text">Department</span>
                                            </a>
                                            <div class="collapse" id="sidebarError">
                                                <ul class="nav sub-navbar-nav">
                                                    <li class="sub-nav-item">
                                                        <a class="sub-nav-link" href="/Admin/Department/AddDepartment">Add Department</a>
                                                    </li>
                                                    <li class="sub-nav-item">
                                                        <a class="sub-nav-link" href="/Admin/Department/ListDepartment">List Department</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </li>


                                        <li class="nav-item">
                                            <a class="nav-link menu-arrow" href="#sidebarError" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebarError">
                                                <span class="nav-icon">
                                                    <iconify-icon icon="mingcute:bug-line"></iconify-icon>
                                                </span>
                                                <span class="nav-text">Doctor Applications</span>
                                            </a>
                                            <div class="collapse" id="sidebarError">
                                                <ul class="nav sub-navbar-nav">
                                                    <li class="sub-nav-item">
                                                        <a class="sub-nav-link" href="/Admin/DoctorApplications/AllPendingDoctorApplications">Pending Applications</a>
                                                    </li>
                                                    <li class="sub-nav-item">
                                                        <a class="sub-nav-link" href="/Admin/DoctorApplications/AllAcceptDoctorApplications">Accept Applications</a>
                                                    </li>
                                                    <li class="sub-nav-item">
                                                        <a class="sub-nav-link" href="/Admin/DoctorApplications/AllRejectDoctorApplications">Reject Applications</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </li>

                                        @*<li class="menu-title">UI Kit...</li>

        <li class="nav-item">
            <a class="nav-link menu-arrow" href="#sidebarBaseUI" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebarBaseUI">
                <span class="nav-icon"><iconify-icon icon="mingcute:leaf-line"></iconify-icon></span>
                <span class="nav-text"> Base UI </span>
            </a>
            <div class="collapse" id="sidebarBaseUI">
                <ul class="nav sub-navbar-nav">
                    <li class="sub-nav-item">
                        <a class="sub-nav-link" href="ui-accordion.html">Accordion</a>
                    </li>
                    <li class="sub-nav-item">
                        <a class="sub-nav-link" href="ui-alerts.html">Alerts</a>
                    </li>
                    <li class="sub-nav-item">
                        <a class="sub-nav-link" href="ui-avatar.html">Avatar</a>
                    </li>
                    <li class="sub-nav-item">
                        <a class="sub-nav-link" href="ui-badge.html">Badge</a>
                    </li>
                    <li class="sub-nav-item">
                        <a class="sub-nav-link" href="ui-breadcrumb.html">Breadcrumb</a>
                    </li>
                    <li class="sub-nav-item">
                        <a class="sub-nav-link" href="ui-buttons.html">Buttons</a>
                    </li>
                    <li class="sub-nav-item">
                        <a class="sub-nav-link" href="ui-card.html">Card</a>
                    </li>
                    <li class="sub-nav-item">
                        <a class="sub-nav-link" href="ui-carousel.html">Carousel</a>
                    </li>
                    <li class="sub-nav-item">
                        <a class="sub-nav-link" href="ui-collapse.html">Collapse</a>
                    </li>
                    <li class="sub-nav-item">
                        <a class="sub-nav-link" href="ui-dropdown.html">Dropdown</a>
                    </li>
                    <li class="sub-nav-item">
                        <a class="sub-nav-link" href="ui-list-group.html">List Group</a>
                    </li>
                    <li class="sub-nav-item">
                        <a class="sub-nav-link" href="ui-modal.html">Modal</a>
                    </li>
                    <li class="sub-nav-item">
                        <a class="sub-nav-link" href="ui-tabs.html">Tabs</a>
                    </li>
                    <li class="sub-nav-item">
                        <a class="sub-nav-link" href="ui-offcanvas.html">Offcanvas</a>
                    </li>
                    <li class="sub-nav-item">
                        <a class="sub-nav-link" href="ui-pagination.html">Pagination</a>
                    </li>
                    <li class="sub-nav-item">
                        <a class="sub-nav-link" href="ui-placeholders.html">Placeholders</a>
                    </li>
                    <li class="sub-nav-item">
                        <a class="sub-nav-link" href="ui-popovers.html">Popovers</a>
                    </li>
                    <li class="sub-nav-item">
                        <a class="sub-nav-link" href="ui-progress.html">Progress</a>
                    </li>
                    <li class="sub-nav-item">
                        <a class="sub-nav-link" href="ui-scrollspy.html">Scrollspy</a>
                    </li>
                    <li class="sub-nav-item">
                        <a class="sub-nav-link" href="ui-spinners.html">Spinners</a>
                    </li>
                    <li class="sub-nav-item">
                        <a class="sub-nav-link" href="ui-toasts.html">Toasts</a>
                    </li>
                    <li class="sub-nav-item">
                        <a class="sub-nav-link" href="ui-tooltips.html">Tooltips</a>
                    </li>
                </ul>
            </div>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="charts.html">
                <span class="nav-icon">
                    <iconify-icon icon="mingcute:chart-bar-line"></iconify-icon>
                </span>
                <span class="nav-text"> Apex Charts </span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link menu-arrow" href="#sidebarForms" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebarForms">
                <span class="nav-icon">
                    <iconify-icon icon="mingcute:box-line"></iconify-icon>
                </span>
                <span class="nav-text"> Forms </span>
            </a>
            <div class="collapse" id="sidebarForms">
                <ul class="nav sub-navbar-nav">
                    <li class="sub-nav-item">
                        <a class="sub-nav-link" href="forms-basic.html">Basic Elements</a>
                    </li>
                    <li class="sub-nav-item">
                        <a class="sub-nav-link" href="forms-flatpicker.html">Flatpicker</a>
                    </li>
                    <li class="sub-nav-item">
                        <a class="sub-nav-link" href="forms-validation.html">Validation</a>
                    </li>
                    <li class="sub-nav-item">
                        <a class="sub-nav-link" href="forms-fileuploads.html">File Upload</a>
                    </li>
                    <li class="sub-nav-item">
                        <a class="sub-nav-link" href="forms-editors.html">Editors</a>
                    </li>
                </ul>
            </div>
        </li>

        <li class="nav-item">
            <a class="nav-link menu-arrow" href="#sidebarTables" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebarTables">
                <span class="nav-icon">
                    <iconify-icon icon="mingcute:table-line"></iconify-icon>
                </span>
                <span class="nav-text"> Tables </span>
            </a>
            <div class="collapse" id="sidebarTables">
                <ul class="nav sub-navbar-nav">
                    <li class="sub-nav-item">
                        <a class="sub-nav-link" href="tables-basic.html">Basic Tables</a>
                    </li>
                    <li class="sub-nav-item">
                        <a class="sub-nav-link" href="tables-gridjs.html">Grid Js</a>
                    </li>
                </ul>
            </div>
        </li>

        <li class="nav-item">
            <a class="nav-link menu-arrow" href="#sidebarIcons" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebarIcons">
                <span class="nav-icon">
                    <iconify-icon icon="mingcute:dribbble-line"></iconify-icon>
                </span>
                <span class="nav-text"> Icons </span>
            </a>
            <div class="collapse" id="sidebarIcons">
                <ul class="nav sub-navbar-nav">
                    <li class="sub-nav-item">
                        <a class="sub-nav-link" href="icons-boxicons.html">Boxicons</a>
                    </li>
                    <li class="sub-nav-item">
                        <a class="sub-nav-link" href="icons-solar.html">Solar Icons</a>
                    </li>
                </ul>
            </div>
        </li>

        <li class="nav-item">
            <a class="nav-link menu-arrow" href="#sidebarMaps" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebarMaps">
                <span class="nav-icon">
                    <iconify-icon icon="mingcute:map-line"></iconify-icon>
                </span>
                <span class="nav-text"> Maps </span>
            </a>
            <div class="collapse" id="sidebarMaps">
                <ul class="nav sub-navbar-nav">
                    <li class="sub-nav-item">
                        <a class="sub-nav-link" href="maps-google.html">Google Maps</a>
                    </li>
                    <li class="sub-nav-item">
                        <a class="sub-nav-link" href="maps-vector.html">Vector Maps</a>
                    </li>
                </ul>
            </div>
        </li>*@

                                        @*<li class="menu-title">Other</li>

        <li class="nav-item">
            <a class="nav-link menu-arrow" href="#sidebarLayouts" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebarLayouts">
                <span class="nav-icon">
                    <iconify-icon icon="mingcute:layout-line"></iconify-icon>
                </span>
                <span class="nav-text"> Layouts </span>
            </a>
            <div class="collapse" id="sidebarLayouts">
                <ul class="nav sub-navbar-nav">
                    <li class="sub-nav-item">
                        <a class="sub-nav-link" href="layouts-dark-sidenav.html" target="_blank">
                            Dark
                            Sidenav
                        </a>
                    </li>
                    <li class="sub-nav-item">
                        <a class="sub-nav-link" href="layouts-dark-topnav.html" target="_blank">
                            Dark
                            Topnav
                        </a>
                    </li>
                    <li class="sub-nav-item">
                        <a class="sub-nav-link" href="layouts-small-sidenav.html" target="_blank">
                            Small
                            Sidenav
                        </a>
                    </li>
                    <li class="sub-nav-item">
                        <a class="sub-nav-link" href="layouts-hidden-sidenav.html" target="_blank">
                            Hidden
                            Sidenav
                        </a>
                    </li>
                    <li class="sub-nav-item">
                        <a class="sub-nav-link" target="_blank" href="layouts-light.html">
                            <span class="nav-text">Light Mode</span>
                            <span class="badge badge-soft-danger badge-pill text-end">Hot</span>
                        </a>
                    </li>
                </ul>
            </div>
        </li>

        <li class="nav-item">
            <a class="nav-link menu-arrow" href="#sidebarMultiLevelDemo" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebarMultiLevelDemo">
                <span class="nav-icon">
                    <iconify-icon icon="mingcute:menu-line"></iconify-icon>
                </span>
                <span class="nav-text"> Menu Item </span>
            </a>
            <div class="collapse" id="sidebarMultiLevelDemo">
                <ul class="nav sub-navbar-nav">
                    <li class="sub-nav-item">
                        <a class="sub-nav-link" href="javascript:void(0);">Menu Item 1</a>
                    </li>
                    <li class="sub-nav-item">
                        <a class="sub-nav-link  menu-arrow" href="#sidebarItemDemoSubItem" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebarItemDemoSubItem">
                            <span> Menu Item 2 </span>
                        </a>
                        <div class="collapse" id="sidebarItemDemoSubItem">
                            <ul class="nav sub-navbar-nav">
                                <li class="sub-nav-item">
                                    <a class="sub-nav-link" href="javascript:void(0);">Menu Sub item</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </li>

        <li class="nav-item">
            <a class="nav-link disabled" href="javascript:void(0);">
                <span class="nav-icon">
                    <iconify-icon icon="mingcute:close-circle-line"></iconify-icon>
                </span>
                <span class="nav-text"> Disable Item </span>
            </a>
        </li>*@
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div><div class="simplebar-placeholder" style="width: auto; height: 636px;"></div>
                </div><div class="simplebar-track simplebar-horizontal" style="visibility: hidden;"><div class="simplebar-scrollbar" style="width: 0px; display: none;"></div></div><div class="simplebar-track simplebar-vertical" style="visibility: visible;"><div class="simplebar-scrollbar" style="height: 89px; transform: translate3d(0px, 0px, 0px); display: block;"></div></div>
            </div>
        </div>

        <div class="animated-stars">
            <div class="shooting-star"></div>
            <div class="shooting-star"></div>
            <div class="shooting-star"></div>
            <div class="shooting-star"></div>
            <div class="shooting-star"></div>
            <div class="shooting-star"></div>
            <div class="shooting-star"></div>
            <div class="shooting-star"></div>
            <div class="shooting-star"></div>
            <div class="shooting-star"></div>
            <div class="shooting-star"></div>
            <div class="shooting-star"></div>
            <div class="shooting-star"></div>
            <div class="shooting-star"></div>
            <div class="shooting-star"></div>
            <div class="shooting-star"></div>
            <div class="shooting-star"></div>
            <div class="shooting-star"></div>
            <div class="shooting-star"></div>
            <div class="shooting-star"></div>
        </div>
        <div class="page-content">


            @RenderBody()

        </div>
        <div>
            <footer class="footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12 text-center" >
                            <script>document.write(new Date().getFullYear())</script>2026 © Darkone by StackBros.
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>

    <!--JQuery -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>


    <!-- Validation -->
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>




    <script src="/Admin/assets/js/vendor.min.js"></script>

    <!-- App Javascript -->
    <script src="/Admin/assets/js/app.js"></script>

    <!-- Vector Map Js -->
    <script src="/Admin/assets/vendor/jsvectormap/js/jsvectormap.min.js"></script>
    <script src="/Admin/assets/vendor/jsvectormap/maps/world-merc.js"></script>
    <script src="/Admin/assets/vendor/jsvectormap/maps/world.js"></script>

    <!-- Dashboard Js -->
    <script src="/Admin/assets/js/pages/dashboard.js"></script>
</body>
</html>
